/* Reset some default styling in browsers */
* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}

/* Apply a neutral background color */
body {
  background-color: #f5f5f5;
  font-family: 'Verdana', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Center the content and apply spacing */
h1, form {
  text-align: center;
  margin: 20px;
}

/* Style the heading */
h1 {
  font-size: 2em;
  color: #222;
  margin-bottom: 0px;
    margin-top: 150px;
}

/* Style the form elements */
label {
  font-size: 1em;
  margin-bottom: 10px;
  display: block;
}

input[type="text"] {
  font-size: 1em;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: ;
  width: 30%;
}

.dropdown-style {
  width: 30%;
  padding: 8px;
  border: 1px solid #CDCDCD; /* Standard light grey border */
  border-radius: 4px; /* Optional: rounds the corners of the dropdown */
  box-sizing: border-box; /* Makes sure the padding doesn't increase the size of the dropdown */
    margin-bottom: 30px;
}


.center-button {
  display: block;      /* makes the <button> a block-level element */
  margin: 0 auto;      /* auto margins on both sides */
  /* Additional styles for your button */
  padding: 10px 156px;  /* Button padding */
  background-color: #CEA054; /* Button color */
  color: white;        /* Text color */
  border: none;        /* No border */
  cursor: pointer;     /* Pointer cursor on hover */
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    
}


.center-button:hover {
  background-color: #CEA054;
}
