<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cap Rates</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
</head>
    
<body>
    <h1>Commercial Cap Rates</h1>
    <form method="post" action="/submit">
        <label for="city">Choose a City:</label>
        <select id="city-dropdown" name="city" class="dropdown-style">
            <option value="losangeles">Los Angeles</option>
            <option value="pheonix">Phoenix</option>
            <option value="chicago">Chicago</option>
            <option value="houston">Houston</option>
            <option value="newyork">New York</option>
</select>
        <button class='center-button' type="submit">Get Cap Rate</button>
    </form>
</body>
</html>
